<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Material Design Bootstrap</title>
  <link rel="stylesheet" href="/views/static/lib/fontawesome-pro/css/all.min.css">
  <link rel="stylesheet" href="/views/static/css/animation.css">
</head>
 <body>
 <canvas id="canvas"></canvas>

 <div><i class="far fa-spinner-third fa-spin" style="color: green;"></i></div>
 <script src="/views/static/lib/mdb/js/jquery-3.3.1.min.js"></script>
 <script src="/views/static/js/animation.js"></script>
</body>
