<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Material Design Bootstrap</title>
  <link rel="stylesheet" href="/views/static/lib/fontawesome-pro/css/all.min.css">
  <link rel="stylesheet" href="/views/static/lib/mdb/css/bootstrap.min.css">
  <link rel="stylesheet" href="/views/static/lib/mdb/css/mdb.min.css">
  <link rel="stylesheet" href="/views/static/css/animation.css">
</head>
<body>
  <header>
    <nav id="sidenav-main">
    </nav>
  </header>
  <div style="width: 100%;">
    <div class="middle">
      <table>
        <tbody>
          <td>
            <div id="router_1" class="status-icon text-center">
              <div class="router-info">
                <div class="error-cnt-title">오류횟수</div>
                <div class="error-cnt-value">2회</div>
                <div class="error-min-period-title">오류 최소 지속시간</div>          
                <div class="error-min-period-value">30초</div>
                <div class="error-cnt">오류 최대 지속시간</div>
                <div class="error-cnt-value">10분</div>
              </div>
            </div>
          </td>
          <td>
              <div id="router_2" class="status-icon"></div>
          </td>
        </tbody>
      </table>
    </div>
  </div>
  <script src="/views/static/lib/mdb/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/views/static/lib/mdb/js/popper.min.js"></script>
  <script type="text/javascript" src="/views/static/lib/mdb/js/bootstrap.js"></script>
  <script type="text/javascript" src="/views/static/lib/mdb/js/mdb.min.js"></script>
  <script src="/views/static/js/nav.js"></script>
  <script src="/views/static/js/animation.js"></script>
</body>
