<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Material Design Bootstrap</title>
  <link rel="stylesheet" href="/views/static/css/animation.css">
</head>
 <body>
 <div class="pista">
  <div class="luces"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
  <div class="tras-come"></div>
  <div class="packman"><div class="comecocos"></div></div>
    <div class="fantasmas">
       <div class="fantasma tres"><div class="ojo"></div><div class="ojo"></div></div>
     <div class="fantasma uno"><div class="ojo"></div><div class="ojo"></div></div>
    <div class="fantasma dos"><div class="ojo"></div><div class="ojo"></div></div>
 </div>
 </div>
</body>
