<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Device Admin</title>
  <link rel="stylesheet" href="/views/static/lib/fontawesome-pro/css/all.min.css">
  <link rel="stylesheet" href="/views/static/lib/mdb/css/bootstrap.min.css">
  <link rel="stylesheet" href="/views/static/lib/mdb/css/mdb.min.css">
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
</head>
<body class="fixed-sn white-skin">
  <header>
    <nav id="sidenav-main">
    </nav>
  </header>
  <main>
    <div id="jsGrid"></div>
    
	</main>
	
	
	
	
	
  <script src="/views/static/lib/mdb/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/views/static/lib/mdb/js/popper.min.js"></script>
  <script type="text/javascript" src="/views/static/lib/mdb/js/bootstrap.js"></script>
  <script type="text/javascript" src="/views/static/lib/mdb/js/mdb.min.js"></script>
  <script src="/views/static/js/nav.js"></script>
	
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
  <script src="/views/static/js/deviceAdmin.js"></script>
	
  <script type="text/javascript" src="http://js-grid.com/demos/db.js"></script>
</body>

</html>
