<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Material Design Bootstrap</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/views/static/lib/mdb/css/bootstrap.min.css">
  <link rel="stylesheet" href="/views/static/lib/mdb/css/mdb.min.css">
  <link rel="stylesheet" href="/views/static/css/log-list.css">
</head>

<body class="fixed-sn white-skin">
  <header>
    <nav id="sidenav-main">
    </nav>
  </header>
  <main>
      <div class="container-fluid">
        <section class="mt-lg-5">
          <div class="log-list-title">
            <h3>로그내역</h3>
          </div>
          <div class="table-responsive log-list-content">
              <table class="table table-hover mb-0">
                  <thead>
                      <tr>
                          <th class="th-lg"><a>발생일자<i class="fa fa-sort ml-1"></i></a></th>
                          <th class="th-lg"><a href="">발생시각<i class="fa fa-sort ml-1"></i></a></th>
                          <th class="th-lg"><a href="">IP<i class="fa fa-sort ml-1"></i></a></th>
                          <th class="th-lg"><a href="">로그내용<i class="fa fa-sort ml-1"></i></a></th>
                      </tr>
                  </thead>
                  <tbody id="log_tbody">                      
                  </tbody>
              </table>
          </div>
        </section>
      </div>
  </main>
  <script src="/views/static/lib/mdb/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/views/static/lib/mdb/js/popper.min.js"></script>
  <script type="text/javascript" src="/views/static/lib/mdb/js/bootstrap.js"></script>
  <script type="text/javascript" src="/views/static/lib/mdb/js/mdb.min.js"></script>
	<script src="/views/static/js/nav.js"></script>
	<script src="/views/static/js/log-list.js"></script>
</body>

</html>
