<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Material Design Bootstrap</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/views/static/lib/mdb/css/bootstrap.min.css">
  <link rel="stylesheet" href="/views/static/lib/mdb/css/mdb.min.css">
  <link rel="stylesheet" href="/views/static/css/log-list.css">
</head>

<body>
  <div class="table-responsive">
      <!--Table-->
      <table class="table table-hover mb-0">

          <!--Table head-->
          <thead>
              <tr>
                  <th>
                      <input class="form-check-input" type="checkbox" id="checkbox">
                      <label for="checkbox" class="form-check-label mr-2 label-table"></label>
                  </th>
                  <th class="th-lg"><a>First Name <i class="fa fa-sort ml-1"></i></a></th>
                  <th class="th-lg"><a href="">Last Name<i class="fa fa-sort ml-1"></i></a></th>
                  <th class="th-lg"><a href="">Username<i class="fa fa-sort ml-1"></i></a></th>
                  <th class="th-lg"><a href="">Email<i class="fa fa-sort ml-1"></i></a></th>
                  <th class="th-lg"><a href="">Country<i class="fa fa-sort ml-1"></i></a></th>
                  <th class="th-lg"><a href="">City<i class="fa fa-sort ml-1"></i></a></th>
              </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
              <tr>
                  <th scope="row">
                      <input class="form-check-input" type="checkbox" id="checkbox1">
                      <label for="checkbox1" class="label-table"></label>
                  </th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>markotto@gmail.com</td>
                  <td>USA</td>
                  <td>San Francisco</td>
              </tr>
              <tr>
                  <th scope="row">
                      <input class="form-check-input" type="checkbox" id="checkbox2">
                      <label for="checkbox2" class="label-table"></label>
                  </th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>jacobt@gmail.com</td>
                  <td>France</td>
                  <td>Paris</td>
              </tr>
              <tr>
                  <th scope="row">
                      <input class="form-check-input" type="checkbox" id="checkbox3">
                      <label for="checkbox3" class="label-table"></label>
                  </th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td>larrybird@gmail.com</td>
                  <td>Germany</td>
                  <td>Berlin</td>
              </tr>
              <tr>
                  <th scope="row">
                      <input class="form-check-input" type="checkbox" id="checkbox4">
                      <label for="checkbox4" class="label-table"></label>
                  </th>
                  <td>Paul</td>
                  <td>Topolski</td>
                  <td>@P_Topolski</td>
                  <td>ptopolski@gmail.com</td>
                  <td>Poland</td>
                  <td>Warsaw</td>
              </tr>
              <tr>
                  <th scope="row">
                      <input class="form-check-input" type="checkbox" id="checkbox5">
                      <label for="checkbox5" class="label-table"></label>
                  </th>
                  <td>Anna</td>
                  <td>Doe</td>
                  <td>@andy</td>
                  <td>annadoe@gmail.com</td>
                  <td>Spain</td>
                  <td>Madrid</td>
              </tr>
          </tbody>
          <!--Table body-->
      </table>
      <!--Table-->
  </div>



  <script src="/views/static/lib/mdb/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/views/static/lib/mdb/js/popper.min.js"></script>
  <script type="text/javascript" src="/views/static/lib/mdb/js/bootstrap.js"></script>
  <script type="text/javascript" src="/views/static/lib/mdb/js/mdb.min.js"></script>
	<script src="/views/static/js/nav.js"></script>
	<script src="/views/static/js/log-list.js"></script>
</body>

</html>
