<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Material Design Bootstrap</title>
  <link rel="stylesheet" href="/views/static/lib/fontawesome-pro/css/all.min.css">
  <link rel="stylesheet" href="/views/static/lib/mdb/css/bootstrap.min.css">
  <link rel="stylesheet" href="/views/static/lib/mdb/css/mdb.min.css">
</head>
<body>
  <nav id="sidenav-main">
  </nav>
  <script src="/views/static/lib/mdb/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/views/static/lib/mdb/js/popper.min.js"></script>
  <script type="text/javascript" src="/views/static/lib/mdb/js/bootstrap.js"></script>
  <script type="text/javascript" src="/views/static/lib/mdb/js/mdb.min.js"></script>
	<script src="/views/static/js/nav.js"></script>
	<script src="/views/static/js/main.js"></script>
</body>

</html>
