<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Material Design Bootstrap</title>
  <link rel="stylesheet" href="/views/static/lib/fontawesome-pro/css/all.min.css">
  <link rel="stylesheet" href="/views/static/lib/mdb/css/bootstrap.min.css">
  <link rel="stylesheet" href="/views/static/lib/mdb/css/mdb.min.css">
  <link rel="stylesheet" href="/views/static/css/status-history.css">
</head>

<body class="fixed-sn white-skin">
  <header>
    <nav id="sidenav-main">
    </nav>
  </header>
  <br>
  <div class="container">
    <section class="mt-lg-5">
      <div class="log-list-title">
        <h3>변동 히스토리</h3>
      </div>
      <br>
      <div class="row">
        <div class="col-sm">
          <div class="card" style="height: 200px;">
            <div class="card-body">
              <h4 class="card-title"><a>기기1</a></h4>
              <p class="card-text">2019-01-06 09:11:25 189</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="height: 200px;">
            <div class="card-body">
              <h4 class="card-title"><a>기기2</a></h4>
              <p class="card-text">2019-01-06 09:11:25 189</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="height: 200px;">
            <div class="card-body">
              <h4 class="card-title"><a>기기3</a></h4>
              <p class="card-text">2019-01-06 09:11:25 189</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm">
          <div class="card" style="height: 200px;">
            <div class="card-body">
              <h4 class="card-title"><a>기기4</a></h4>
              <p class="card-text">2019-01-06 09:11:25 189</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="height: 200px;">
            <div class="card-body">
              <h4 class="card-title"><a>기기5</a></h4>
              <p class="card-text">2019-01-06 09:11:25 189</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="height: 200px;">
            <div class="card-body">
              <h4 class="card-title"><a>기기6</a></h4>
              <p class="card-text">2019-01-06 09:11:25 189</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script src="/views/static/lib/mdb/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/views/static/lib/mdb/js/popper.min.js"></script>
  <script type="text/javascript" src="/views/static/lib/mdb/js/bootstrap.js"></script>
  <script type="text/javascript" src="/views/static/lib/mdb/js/mdb.min.js"></script>
	<script src="/views/static/js/nav.js"></script>
	<script src="/views/static/js/status-history.js"></script>
</body>

</html>
