<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>terminal</title>
  <link rel="stylesheet" href="/views/static/lib/fontawesome-pro/css/all.min.css">
  <link rel="stylesheet" href="/views/static/lib/mdb/css/bootstrap.min.css">
  <link rel="stylesheet" href="/views/static/lib/mdb/css/mdb.min.css">
  <link rel="stylesheet" href="/views/static/lib/jsgrid/jsgrid.min.css">
  <link rel="stylesheet" href="/views/static/lib/jsgrid/jsgrid-theme.min.css">
</head>

<body class="fixed-sn white-skin">
  <header>
    <nav id="sidenav-main">
    </nav>
  </header>
  <main>

    <div id="current_time">YYYY-MM-DD HH:MM:SS</div>

    <div class="containter">
      <div class="row">
        <div class="form-check col">
          <input type="checkbox" class="form-check-input" id="chkScrollLock">
          <label class="form-check-label" for="chkScrollLock">스크롤 멈춤</label>
        </div>
        <div class="form-check col">
          <input type="checkbox" class="form-check-input" id="chkLogLock">
          <label class="form-check-label" for="chkLogLock">로그 멈춤</label>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-sm col" id="btnClear">지우기</button>
        </div>
        <div class="col">
          <div class="md-form mt-0">
            <input type="text" id="txtMaxLine" class="form-control">
            <label for="txtMaxLine">저장</label>
          </div>
        </div>
      </div>
      <div class="h-100">
        <div id="jsGrid"></div>
      </div>

  </main>





  <script src="/views/static/lib/mdb/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/views/static/lib/mdb/js/popper.min.js"></script>
  <script type="text/javascript" src="/views/static/lib/mdb/js/bootstrap.js"></script>
  <script type="text/javascript" src="/views/static/lib/mdb/js/mdb.min.js"></script>
  <script type="text/javascript" src="/views/static/lib/moment/moment.min.js"></script>
  <script src="/views/static/js/nav.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
  <script src="/views/static/lib/socket.io/socket.io.js"></script>
  <script src="/views/static/js/terminal.js"></script>

  <script type="text/javascript" src="http://js-grid.com/demos/db.js"></script>
</body>

</html>
