
.gradtext {
    background: #55ffaa;
    background: -webkit-linear-gradient(left, #55ff55, #55ffff);
    background:    -moz-linear-gradient(right, #55ff55, #55ffff);
    background:      -o-linear-gradient(right, #55ff55, #55ffff);
    background:         linear-gradient(to right, #55ff55, #55ffff);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
}
.gradtext2 {
  background: -webkit-linear-gradient(red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
