body {
  background: #222;
}

table {
  border-collapse: separate;
  border-spacing: 20px 20px;
}

.collapse-icon {
    color: white;
}

.status-icon {
  background: green;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.status-icon:hover {
  cursor: pointer;
}

.router-info {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.vertical-divide {
  display: inline-block;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}
