<header>
  <div id="slide-out" class="side-nav fixed">
      <ul class="custom-scrollbar">
        <li class="logo-sn waves-effect">
            <div class="text-center">
            </div>
        </li>
        <li>
            <form class="search-form" role="search">
                <div class="form-group md-form mt-0 pt-1 waves-light">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
        </li>
        <li>
            <ul class="collapsible collapsible-accordion">
                <li><a href="/log-list" class="collapsible-header waves-effect"><i class="fal fa-pen-square"></i>&nbsp;&nbsp;로그내역</a></li>
                <li><a href="/animation" class="collapsible-header waves-effect"><i class="fal fa-pen-square"></i>&nbsp;&nbsp;애니메이션</a></li>
            </ul>
        </li>
      </ul>
      <div class="sidenav-bg mask-strong"></div>
  </div>

  <nav class="navbar fixed-top navbar-expand-lg scrolling-navbar double-nav">
      <div class="float-left">
          <a href="#" data-activates="slide-out" class="button-collapse black-text"><i class="collapse-icon fa fa-bars"></i></a>
      </div>
      <div class="breadcrumb-dn mr-auto">
          <p>Dashboard v.1</p>
      </div>
  </nav>
</header>
